@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s linear;
}

html{
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  margin: 0%;
}

.img-responsive {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.header .logo a {
  color: #fff;
  text-decoration: none;
}
.header .menu a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.hero {
  background: url(https://images.unsplash.com/photo-1655453480336-d2a8b32c24bc?q=80&w=1786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat fixed;
    background-size: cover;
    height: 100vh;
    /* z-index: 999; */
    
}
.hero-center {
  padding: 13% 0;
  text-align: center;
  width: 70%;
  margin: auto;
}
.hero-center h2 {
  font-size: 3em;
  color: beige;
}
.hero-center p {
  color: beige;
  line-height: 180%;
}

.overlay {
  width: 100%;
  position: relative;
  background: rgba(41, 41, 41, 0.481);
}

.btn {
  background: seashell;
  color: 101010;
  padding: 15px 40px;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 13px;
}


.dki-geo {
  padding: 0 50px;
}

.galeri{
     height: 200px;
     display: flex;
     flex-wrap: nowrap;
     padding: 0 50px;
       width: 100%;
       margin-top: 40px;
       img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
       }
}
.box{
width: 20%;
float: left;
padding: 7px;
padding-left: 10px;  
}

img:hover{
 transform: scale(1.3, 1.3);
 transition: .3s transform;
}

body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  /* background-color: #FFF; */
}
.card-image{
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

/* New CSS */
.btn {
    background: seashell;
    color: 101010;
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 13px;
  }
  
  .about {
    padding: 10%;
    color: beige;
    background-color: rgba(0,0,0,0.9);
  }
  .about-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-image .imageone {
    height: 300px;
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
  }
  .about-image .imageone img {
    transform: scale(3.2);
  }
  .about-image .imagetwo {
    height: 500px;
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
  }
  .about-image .imagetwo img {
    transform: scale(3.2);
  }
  .about-desc {
    width: 50%;
  }
  .about h4 {
    font-size: 1.5em;
    color: orange;
    font-weight: 300;
  }
  .about h2 {
    font-size: 3em;
  }
  .about p {
    line-height: 180%;
  }
  
  .profile {
    padding: 10%;
    color: beige;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 557px; 
    height: 290px; 
    position: relative; 
    box-shadow: 5px 6px 7.699999809265137px 
    rgba(97.40, 0, 0, 0.20); 
    border-radius: 10px; 
    overflow: hidden
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .card-content {
    margin-bottom: 16px;
  }
  
  .card-icon {
    align-items: center;
    width: 100%;
  }
  
  .population {
    height: 25px; 
    padding: 5px; 
    left: 25px; 
    top: 207px; 
    position: absolute; 
    background: #b70808; 
    border-radius: 30px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex"
  }


.container-team {
    padding-left: 102px;
    padding-right: 102px;
    height: 100vh;
}

.my-bio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeRight 2s;
}

.profile {
    width: 80%;
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 40px;
    text-transform: capitalize;
    color: #f3f2c9;
    transition: all 0.35s;
    cursor: pointer;
}

.description {
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f1f5f9;
    white-space: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    transition: all 0.35s;
}

.button {
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #0f172a;
    text-align: center;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: #f3f2c9;
    cursor: pointer;
    transition: all 0.35s;
    a {
        text-decoration: none;
        color: black;
    }   
}

/* .title:hover {
    color: #475569;
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.233);
} */

.button:hover {
    color: #475569;
    box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.233);
}

.my-profile {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 250px;
    border-color: #F3F2C9; 
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content: center;  
}

.my-profile img {
    margin-top: -17px;
    margin-right: -15px;
    width: 400px;
    height: 400px;
    transition: all 0,5s;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    animation: fadeIn 2s;
}

.header a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    transition:  all 0.35s;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadeIn 2s;
}

.footer a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.35s;
}

.header a:hover, .footer a:hover {
    color: #475569;
    cursor: pointer;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        margin-right: -200px;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

.wrapper {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 600px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.Button {
  background-color: #7B0505;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Button a {
  color: #fff;
  text-decoration: none;
}

/* makanan */
  
  .accordion {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 16px;
    transition: 0.3s;
  }
  
  .accordion:hover {
    gap: 0;
  }
  
  .accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    opacity: 0.75;
    cursor: pointer;
  }
  
  .accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
  }
  
  .accordion li,
  .accordion li img,
  .accordion li .content,
  .accordion li .content span {
    transition: 0.3s;
  }
  
  .accordion h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  
  .accordion li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: #02022e;
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / 70%) 10%,
      rgb(255 255 255 / 0%) 100%
    );
    opacity: 0;
    visibility: hidden;
  }
  
  .accordion li .content span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 50px;
    translate: -300px 0;
    visibility: hidden;
    opacity: 0;
  }
  
  .accordion li:hover {
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
  }
  
  .accordion li:hover .content {
    opacity: 1;
    visibility: visible;
  }
  
  .accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
  }
  