*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: #222222;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,h2,h3,h4,h5{
    margin: 0%;
}

.img-responsive{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        a{
            color: beige;
            text-decoration: none;
        }
    }
    .menu{
        a{
            color: beige;
            text-decoration: none;
            padding: 10px;
        }
    }
}

//hero
.hero{
background: url(https://images.unsplash.com/photo-1655453480336-d2a8b32c24bc?q=80&w=1786&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
            no-repeat fixed;
background-size: cover;
    &-center{
        padding: 13% 0;
        text-align: center;
        width: 70%;
        margin: auto;
        h2{
            font-size: 3em;
            color: beige;
        }
        p{
            color: beige;
            line-height: 180%;
        }
    }
}

.overlay{
    width: 100%;
    position: relative;
    background: rgba(41, 41, 41, 0.481);
}

.btn{
    background: seashell;
    color: 101010;
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 13px;
}


//about
.about{
    padding: 10%;
    color: beige;
    &-image{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .imageone{
            height: 300px;
            width: 40%;
            overflow: hidden;
            border-radius: 10px;
            img{
                transform: scale(3.2);
            }
        }
        .imagetwo{
            height: 500px;
            width: 50%;
            overflow: hidden;
            border-radius: 10px;
            img{
                transform: scale(3.2);
            }
        }
    }
    &-desc{
        width: 50%;
    }
    h4{
        font-size: 1.5em;
        color: orange;
        font-weight: 300;
    }
    h2{
        font-size: 3em;
    }
    p{
        line-height: 180%;
    }
}

.profile{
    padding: 10%;
    color: beige;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid beige;
    box-shadow: 2px 2px 5px #101010;
    margin: auto;
    padding: 16px;
    margin-bottom: 50px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .card-content {
    margin-bottom: 16px;
  }
  
  .card-icon {
        align-items: center;
        width: 100%;
  }
  
  .population {
    font-weight: bold;
  }

//slider
$primary-color: orange;

.menu-slider {
  display: flex;
  overflow-x: scroll;
  padding: 20px;

  .menu {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
    opacity: 0;
    visibility: hidden;

    &:first-child {
      opacity: 1;
      visibility: visible;
    }

    &:hover,
    &.active {
      opacity: 1;
      visibility: visible;
    }

    &:not(:first-child) {
      margin-left: -50px;
    }

    &.active {
      margin-left: 0;
    }

    img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .rating {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      i {
        color: $primary-color;
        font-size: 20px;
        margin-right: 5px;
      }

      .far {
        color: gray;
      }
    }

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 20px;
      line-height: 1.5;
    }

    .btn {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }
}



